html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 0;
    padding-bottom: 20px; /* Adjust this value as needed to control the space between main content and the footer */
}

.footer {
    flex-shrink: 0;
}
